body {
    background: #fffcf4;
}

.main-heading-1 {
    color: #ff5757;
    font-family: "Bodoni Moda", sans-serif;
    font-weight: lighter;
    font-size: 15vw;
    margin-bottom: 0;
    text-align: center;
}

.main-subheading-1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    text-align: center;
}

/*
#hero-text{
    height: 85vh;
    width: 100vw;
}
*/

/*navbar styling*/

.navbar-brand img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.bg-light {
    background-color: #fffcf4 !important;
}

ul {
    margin: auto;
}

.navbar-brand {
    padding: 0;
    margin: 0;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/*homepage styling*/

#bg-hero {
    height: 750px;
    width: 100vw;
    background: url("../images/ph-hero-2.jpeg") no-repeat center center;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.hero-bg {
    background-image: url("../images/ph-hero-2.jpeg");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-top: 200px;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .3rem;
    text-align: center;
}
*/

/*Our Story styling*/

#our-story {
    height: fit-content;
    width: 100vw;
}

#our-story-headers {
    text-align: center;
    padding-bottom: 10px;
}

#our-story-headers h1 {
    color: #ff5757;
    font-family: "Bodoni Moda", sans-serif;
    font-weight: lighter;
    font-size: 10vw;
}

#our-story-headers h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
}

.our-story-img {
    display: block;
    margin: auto;
    height: 215px;
    width: 215px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: #ff5757 solid 3px;
}

#left-story {
    margin: 5%;
}

#right-story {
    margin: 5%;
}

.our-names {
    font-family: "Bodoni Moda", sans-serif;
    font-weight: 500;
}

/*Cake styling*/

#cake {
    height: 800px;
    width: 100vw;
}

#gallery {
    height: 576px;
    width: 730px;
    margin: auto;
}

.carousel-item img {}

/*Media Queries*/

@media (max-width: 768px) {
    #gallery {
        height: 75%;
        width: 100%;
    }

}